.task-list{
    display: grid;
    gap:10px;
    list-style: none;
    padding:0;
    margin: 20px;
    grid-template-columns: 70px 50px 2fr 3fr  180px;
}
.list-header{
    font-weight: bold;
    padding: 10px;
    border:1px solid #ccc;
    background-color: aliceblue;
}
.list-item{
    padding:10px;
    border: 1px  solid#ccc;
    background-color: #f0f0f0;
}
.delete-item{
     width:auto;
     display: inline-block;
     margin:2px;
    padding: 6px 12px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}
.delete-item:hover{
    background-color:#ac0909 ;
}
.update-item{
     width:auto;
     display: inline-block;
     margin:2px;
    padding: 6px 12px;
    background-color:green;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    text-decoration:none;
    padding-left: 15px;
    padding-right:15px;
}
.update-item:hover{
    background-color:#15b15b ;
}
.list-container{
margin-left:20px;
margin-right: 20px;
}
.delete-multiple{
    width:100px;
}
.top-delete{
    width: 100px;
    display:inline-block;
    margin-left: 19px;
    padding: 6px 12px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius:4px;
    cursor: pointer;
    font-size: 14px;
}
.top-delete:hover{
    background-color:#960808 ;

}