.navbar{
    display: flex;
    justify-content: space-between;
    background-color:#242424;
    padding: 5px 10px;
    align-items: center;
    color: white;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.nav-links{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.nav-links a{
    color:whitesmoke;
    text-decoration: none;
    font-weight: 500;
}
.nav-links a:hover{
    color: #bfbcbc;
}
.nav-links button{
    background: none;
    border:none;
    margin: 0%;
    padding:0;
    color:whitesmoke;
    font-weight:600;
}
.nav-links button:hover{
    color: #bfbcbc;
    background: none;
}